body {
	font-family: 'RobotoRegular', sans-serif;
	font-size: 16px;
	background: url(../img/bg.png) no-repeat center center fixed;
	padding: 0;
	margin: 0;
	background-size: cover;
}

.wrapper {
	width: 961px;
	margin: auto;
}

h1 {
	color: #fff;
	font-weight: 400;
	font-size: 6em;
}

.logo {
	width: 569px;
	margin: 80px auto 0;
}

.main_cats {
    width: 961px;
    border: 1px solid #df5863;
    margin: 30px auto 0;
    padding: 27px 25px 27px;
}

.pr_cat {
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #f7d0d3;
}

.pr_cat:last-child {
	margin-bottom: 0px;
}

/*.pr_cat:nth-child(4){*/
	/*background-color: #ec8b93;*/
	/*border: 1px solid #e8737d;*/
/*}*/

/*.pr_cat:nth-child(5){*/
	/*background-color: #ec8b93;*/
	/*border: 1px solid #e8737d;*/
/*}*/


/*.pr_cat:nth-child(6){*/
	/*background-color: #ec8b93;*/
	/*border: 1px solid #e8737d;*/
/*}*/
.bottom{
	background-color: #ec8b93;
	border: 1px solid #e8737d;
}


.cat {
	height: 58px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.22);
	padding-left: 37px;
	position: relative;
	margin-bottom: 10px;
}

.cat h3 {
    display: inline-block;
    margin: 19px 26px 21px 0;
    text-transform: uppercase;
    font-weight: 900;
    color: #da0f22;
    font-size: 20px;
}

a {
	text-decoration: none;
	color: #000;
}

.star {
    width: 21px;
    position: absolute;
    right: 29px;
    top: 19px;
	display: none;
}

.spon {
	height: 82px;
}

a .cat:last-child {
	margin-bottom: 0;
}

footer img {
	width: 961px;
	margin: 128px 0 80px;
}
